/* IDS  */

#main-div-1 {
    margin: 30px;
    border: 20px;
}

#main-h1 {
    background-image: url("./img/pagina-inicial-do-site-de-busca-baidu-1.jpg");
    border: 20px;
    margin: 30px;
    padding: 25px;
}

#titulo {
    color: white;
}

/* TAGS DO HTML*/
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 30px;
    border: 20px;
}

h1 {
    text-align: center;
    font-size: 26px;
}