/*  IDS  */

#main-div-1 {
    margin: 30px;
    border: 20px;
}

#main-h1 {
    border: 20px;
    margin: 30px;
    padding: 25px;
}

#titulo {
    color: white;
}

#link {
    color: orange;
}   

#link_youtube {
    position: center;
}

/* TAGS DO HTML*/
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 30px;
    border: 20px;
    background-image: url("./img/pagina-inicial-do-site-de-busca-baidu-1.jpg");
    background-size: cover;
}

h1 {
    font-size: 26px;
}